__pycache__
.vim

#### virtualenv
venv/*
.venv/*

#### IDE
.idea

#### tmp files
/test_*
old/*

#### build
*egg-info/
dist/*

#### sample testing
data/*
reports/
errors.log
samples/providers/database/migration.py

#### doc
/docs/_build
site/
build/*
_build/*

### pytest
htmlcov/*
.coverage
.coveragerc
htmlcov/

# mypy
.mypy_cache/


